@CHARSET "ISO-8859-1";
<style>
	body{
		font-family: sans-serif;
		font-size: 11pt;
		background-color:#11a6d4;
	}
	table, th, td{
		border: 1px solid black;
		border-collapse:collapse;
		opacity:0.95;
	}
	table{
		width:80%;
	}
	th, td{
		padding: 10px;
		text-align: center;
	}
	th{
		background-color: #a70000;
		color:white;
	}
	tr:nth-child(even){
		background-color: #eBeBeB;
	}
	tr:nth-child(odd){
		background-color: white;
	}
	#header{
		background-color:1992b7;
		color:black;
		font:bold 12px sans-serif;
	}
	.botao{
		background:    #fff;
		background:    -webkit-linear-gradient(#fff, #fff);
		background:    linear-gradient(#fff, #fff);
		border:        1px solid #569;
		border-radius: 5px;
		box-shadow:    0 1px 0 0 #444;
		color:         #666;
		display:       inline-block;
		padding:       8px 20px;
		font:          normal 700 18px/1 "Calibri", sans-serif;
		text-align:    center;
		text-shadow:   0px 0px 0 #000;
	}
	.div-botao{
		width:1000px;
		height:47px;
		padding-left:529px;
		padding-top:26px;
	}
</style>